
#filterBox{
background-color: #e8f1ee;
width: 40%;
border-radius: 30px;
padding: 50px;
margin: auto;
box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.4);

}
header {
    text-align: center;
    font-family: 'Futura';
    color: #3e4543;
}

.filterBox {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8f1ee;
    width: 40%;
    border-radius: 30px;
    border-width: 2px;
    border-color: #446662;
    padding: 20px;
    margin: auto;
    text-align: center;
}

.filterBox h2 {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

#weight{
   
}
#button {
    margin: 8px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
    border: none;
}

input[type="radio"] {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.5rem;
}
input,
label {
    cursor: pointer;
}

#sok {
    background-color: #a9c9c6; 
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 50px;
}
#sok:active {
    background-color: rgb(5, 90, 12);
}


.slidecontainer {
    width: 100%;
}
