
@media only screen and (min-width: 751px) {


}
.header {
    text-align: center;
    font-family: 'Futura';
    color: #3e4543;
}
.filterBox {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8f1ee;
    width: 30%;
    border-radius: 30px;
    border-width: 2px;
    border-color: #446662;
    padding: 20px;
    margin: auto;
    text-align: center;
}
.headerWeights {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.headerWeights > h2 {
    font-size: 17px;
    margin: 0px;
}
#weight{
    display: inline;
    justify-self: start;
}

#weight p {
    font-size: 14px;
    display: inline;
    margin: 0px;
}
#container{
    margin-bottom: 15px;
}
.choice{

    display: grid;
    grid-template-columns:30px 30px 30px 30px 30px;
    justify-content: center;

}
#button {
    margin: 8px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
    border: none;
}
#kort1 {
    white-space: nowrap;

}
#kort2{
    display: inline;
    justify-self: start;
}
input[type="radio"] {
    display: block;
}


#sok {
    background-color: #a9c9c6; 
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}
#sok:active {
    background-color: #6d938f;
}


.slidecontainer {
    color: #a9c9c6;
    width: 100%;
}
