 #map{
    position: relative;
    float: right;
    align-items: right;
}   
/* #sideBar{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 0;
} */


#logIn{
float: right;
margin-right: 5%;
}

