
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.sideBar {
    float: left;
    margin-left:11%;
    margin-right: 8%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.sideBar p {
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
}

.sideBar h3 {
    color: #3e4543;
    margin-bottom: 30px;
    margin-top: 20px;
}

div.sideBar2 :hover {
    background-color: #d4e3de;
    
}

div.sideBar2 :active {
    background: #d4e3de;
    -webkit-box-shadow: inset 0px 0px 5px #983535;
    -moz-box-shadow: inset 0px 0px 5px #842828;
    box-shadow: inset 0px 0px 5px #b6cac4;
    outline: none;
}

div.result {
    padding: 4%;
    padding-bottom: 8%;
    background-color: #e8f1ee;
    border-radius: 20px;
    margin-bottom: 30px;
}
div.result1 {
    padding: 4%;
    padding-bottom: 8%;
    background-color: #d4e3de;
    border-radius: 20px;
    margin-bottom: 30px;
}


#first {
    font-weight: 700;
    margin-bottom: 5px;
}
#second {
    font-size: 14px;
    margin: 10px;
    margin-top: 3px;
    margin-bottom: 4px;
}

.boxContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#left{
    justify-self: end;
}
#right {
    justify-self: start;
}
.my-tooltip{
    font-family: 'Futura';
    padding: 1px;
    border: #000fb4;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-size: medium;
}
